<div class="p-grid p-jc-center">
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-card header="Login">
      <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <div class="p-fluid">
          <div class="p-field">
            <label for="emil">Email*</label>
            <input
              type="email"
              id="email"
              name="email"
              ngModel
              #emailInput="ngModel"
              required
              email
              [ngClass]="{'ng-invalid ng-dirty':emailInput.invalid && emailInput.touched}"
              pInputText>
            <small *ngIf="emailInput.invalid && emailInput.touched" class="p-error">Please enter proper email address.</small>
          </div>
          <div class="p-field">
            <label for="password">Password*</label>
            <input
              type="password"
              id="password"
              name="password"
              ngModel
              #passwordInput="ngModel"
              required
              [ngClass]="{'ng-invalid ng-dirty':passwordInput.invalid && passwordInput.touched}"
              pInputText>
            <small *ngIf="passwordInput.invalid && passwordInput.touched" class="p-error">Please enter proper password.</small>
          </div>
          <div class="p-grid p-jc-center">
            <div class="p-col-4">
              <p-button [disabled]="!loginForm.valid" label="Log&nbsp;In" type="submit"></p-button>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
  