<div class="p-card">
  <p-card>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    <div *ngIf="!isLoading">
      <div class="p-d-flex">
        <button
          type="button"
          pButton
          [routerLink]="['edit']"
          label="Edit"
          class="p-button-raised p-mr-2">
        </button>
        <button
          type="button"
          pButton
          (click)="onDelete()"
          label="Delete"
          class="p-button-danger p-mr-2">
        </button>
      </div>
      <p>{{ upload.title }}</p>
      <p>{{ upload.description }}</p>
      <img
        *ngIf="upload.url"
        src="{{ upload.url }}"
        alt="{{ upload.description }}"
        style="width: 100%; height: auto">
    </div>
  </p-card>
</div>
