<p-toast></p-toast>
<div class="p-card">
  <p-card>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    <form [formGroup]="form" (submit)="onSubmit()" id="upload-edit" *ngIf="!isLoading">
      <div class="p-fluid">
        <div class="p-field">
          <label for="title">Title*</label>
          <input
            type="text"
            id="title"
            name="title"
            formControlName="title"
            [ngClass]="{'ng-invalid ng-dirty':form.get('title')?.invalid && form.get('title')?.touched}"
            pInputText>
          <small *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="p-error">Please enter valid title.</small>
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            formControlName="description"
            pInputText>
        </div>
        
        <div class="p-d-flex">
          <button
            pButton
            pRiplle
            label="Pick Image"
            (click)="filePicker.click()"
            class="p-button-raised p-button-success p-mr-2"
            type="button">
          </button>
          <button
            pButton
            pRipple
            [disabled]="!this.form?.valid"
            label="Save" 
            class="p-button-raised p-mr-2"
            type="submit">
          </button>
          <button
            pButton
            pRipple
            label="Cancel"
            class="p-button-raised p-button-secondary p-mr-2"
            type="button"
            (click)="onCancel()">
          </button>
        </div>
        <input type="file" #filePicker (change)="onImagePicked($event)" style="visibility: hidden;">

        <div *ngIf="imagePreview !== '' && form.get('image')?.valid">
          <img
            [src]="imagePreview"
            [alt]="form.value.description"
            style="width: 100%; height: auto">
        </div>
        
        <div *ngIf="upload.url && !(imagePreview !== '' && form.get('image')?.valid)">
          <img
            src="{{ upload.url }}"
            alt="{{ upload.description }}"
            style="width: 100%; height: auto">
        </div>

      </div>
    </form>
  </p-card>
  </div>
  